body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e3e3e3;
}
.node rect {
    fill: #2e3192;
}
.node text{
    fill: white;
}
.clusters rect {
    fill: white;
    /*stroke: #333c42;*/
    stroke-width: 1.5px;
    stroke-dasharray: 4;
}
.clusters .label {
    fill: #333c42;
}
.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}
table tr td:nth-child(odd){
    background: rgba(85, 93, 155, 0.44);
}

table tr td:nth-child(even){
    background: #6856b133;
}
th {
    padding-left: 0.7em;
    padding-right: 0.7em;
    position: -webkit-sticky;
    position: sticky;
    background: white;
    top: 0;
    z-index: 5;
}
td {
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
}
tr:nth-child(odd){
  color: #000;
}
tr:nth-child(even){
  color: rgba(0, 0, 0, 0.7);
}
table tr.active {
    background: #ccc;
}

a:link {
  text-decoration: none;
  color: #16191c
}