<!doctype html>

<head>
    <meta charset="utf-8">
    <title>flowpipe graphvis</title>

    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.3/dagre-d3.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>

    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>

<h1 style='text-align: center'>{{graph_name}}</h1>

<svg width=3200 height=1700><g/></svg>

<script id="js" src="/static/js/app.js"></script>

</body>
